
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import './snotify';

.dropdown .dropdown-menu .dropdown-item:focus {
    outline: none;
    background-color: transparent;
}
.dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #eee;
}


